@font-face {
  font-family: "iransans";
  src: url("assets/fonts/IRANSansX-Regular.woff");
}
* {
  font-family: "iransans";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  overflow-x: hidden;
}

.container1 {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #f7f7f7;
}

.menu_overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  color: #fff;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  height: 40%;
  width: 40%;
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list li {
  height: 100px;
  width: 150px;
  padding: 20px;
}

.list a {
  font-size: 2rem;
  text-decoration: none;
  color: #333333;
  display: block;
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease;
  padding-right: 5px;
  border-right: 2px solid red;
}

.list a:hover {
  color: #4b134f;
}

.menu_overlay .fa {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  right: 20px;
  font-size: 2.5rem;
  transition: all 0.3s ease;
  z-index: 100;
  font-size: 3vw;
}
.menu_overlay .fa:hover {
  color: #333333;
  transform: scale(1.1) rotate(180deg);
}

#menuBtn {
  display: none;
}

.landing_page {
  max-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
}

.menu {
  background: #fff;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  right: 0px;
}
.menu2 {
  background: #fff;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  position: absolute;
  left: 0px;
}
.menu2 i {
  font-size: 3vw;
  color: #222;
  margin-top: 2rem;
}
.fa {
  font-size: 3vw;
  color: #222;
}

.fa:hover {
  color: #333333;
}

@media screen and (max-width: 650px) {
  .list a {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 450px) {
  .list {
    display: flex;
    flex-direction: column;
  }
}
